.jamIt{
	max-width: 100px;
}
.userPhoto{
	max-width: 160px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.userPhotos{
	max-width: 120px;
	margin-bottom: 10px;
	border-radius: 5px;
}
nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

a {
  color: rgba(0, 0, 0, 0.5) !important; }

a:focus {
  color: rgba(0, 0, 0, 0.7) !important; }

a:hover {
  color: rgba(0, 0, 0, 0.9) !important;
  text-decoration: underline !important; }

.body-font-color {
  color: rgba(0, 0, 0, 0.5) !important; }

.form-control:focus {
  border-color: rgba(0, 0, 0, 0.5); }

.form-control{
	height: auto !important;
}
.paddingleft {
  padding-left: 5px; }

.spacing{
	margin-left: 30%;
}
.msg-update-boxes {
  padding: 5px;
  font-size: 1rem;
  color: gray; }

.msg-update-boxes li {
  list-style: none; }

.msg-update-boxes p {
  padding: 5px; 
}
.smallBandPhoto{
	border-radius: 15px;
	max-width: 120px;
	margin-top: 10px;
}

.friendPhoto{
	border-radius: 50%;
	max-width: 40px;
	margin-top: 10px;
}
.bandPhoto{
	border-radius: 15px;
	max-width:250px;
	margin-top: 20px;
}
// // MULTISELECT SECTION
// span.multiselect-native-select {
// 	position: relative
// }
// span.multiselect-native-select select {
// 	border: 0!important;
// 	clip: rect(0 0 0 0)!important;
// 	height: 1px!important;
// 	margin: -1px -1px -1px -3px!important;
// 	overflow: hidden!important;
// 	padding: 0!important;
// 	position: absolute!important;
// 	width: 1px!important;
// 	left: 50%;
// 	top: 30px
// }
// .multiselect-container {
// 	position: absolute;
// 	list-style-type: none;
// 	margin: 0;
// 	padding: 0
// }
// .multiselect-container .input-group {
// 	margin: 5px
// }
// .multiselect-container>li {
// 	padding: 0
// }
// .multiselect-container>li>a.multiselect-all label {
// 	font-weight: 700
// }
// .multiselect-container>li.multiselect-group label {
// 	margin: 0;
// 	padding: 3px 20px 3px 20px;
// 	height: 100%;
// 	font-weight: 700
// }
// .multiselect-container>li.multiselect-group-clickable label {
// 	cursor: pointer
// }
// .multiselect-container>li>a {
// 	padding: 0
// }
// .multiselect-container>li>a>label {
// 	margin: 0;
// 	height: 100%;
// 	cursor: pointer;
// 	font-weight: 400;
// 	padding: 3px 0 3px 30px
// }
// .multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
// 	margin: 0
// }
// .multiselect-container>li>a>label>input[type=checkbox] {
// 	margin-bottom: 5px
// }
// .btn-group>.btn-group:nth-child(2)>.multiselect.btn {
// 	border-top-left-radius: 4px;
// 	border-bottom-left-radius: 4px
// }
// .form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
// 	padding: 3px 20px 3px 40px
// }
// .form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
// 	margin-left: -20px;
// 	margin-right: 0
// }
// //END MULTISELECT SECTION


