
 <div class="container">Search All Users Here!
 <div class="wrapper">
    <div class="row">
        <div ng-repeat="people in nonFriends | filter: searchText.search" class="smallUsers ">
            <div class="col-md-4 non-friend">
                <div>
                <a ng-href="#!/user/{{people.name}}/{{people.uid}}/profile">
                    <img class="userPhoto" src="{{people.photo}}">
                    {{people.name}}
                    </a>
                    <span>{{people.instrument}}</span>
                    <p> {{people.style}}</p>
                    <p>{{people.city}}, {{people.state}}</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
