<div class="row">

<script type="text/ng-template" id="myModalContent.html">
<h3 class="modal-title" id="modal-title">Added {{name}} as a friend</h3>
<div class="modal-footer">
<span>Click out of the window to close</span>
</div>   
</script>

<script type="text/ng-template" id="removeFriend.html">
<h3 class="modal-title" id="modal-title">Removed {{name}} from friends</h3>
<div class="modal-footer">
<span>Click out of the window to close</span>
</div>   
</script>
    <div class="col-md-4 col-md-offset-4">
    </div>
    <div class="col-md-1 text-right">
        <a ng-click="addFriend(uid); open()"><span ng-show="!friend"  class="btn btn-info biggerPlease addPin glyphicon glyphicon-plus col-md-offset-4" alt="add new board">Add Friend</span></a>

    </div>
</div>

 <div class="col-md-4 text-left">
                <div>
                    <a  ng-click="removeFriend(uid); openRemove()">
                        <span ng-show="friend" class="btn btn-info glyphicon glyphicon-minus">Remove Friend</span>
                    </a>
                </div>
            </div>

        <h1 ng-model="friendInfo.name">{{name}}'s Profile</h1>
<div class="offset-lg-4"></div><div class="col-lg-6">
    <div filter: searchText.search" class="col-xl-2 board">
     
                <div class="row">
                    <div>
                    <img class="userPhoto" src="{{photo}}">
                   
                    </div>
                
                </div>
                <span ><b>Info:</b> {{gigs}}</span><br>
                 <span><b>Instrument:</b> {{instrument}}</span><br>
                 <span><b>Style:</b> {{style}}</span>
                  <br>
                <ul class="list-group form-control bg-faded msg-update-boxes">
                <b>Status Updates:</b><!-- show posted status updates -->

                <li ng-repeat="update in updates | orderBy:'timeStamp':true">
                    <b>{{update.timeStamp}}:</b>
                    <p>{{update.text}}</p>
                </li>
            </ul>
        <!-- End Status Updates --> 
        <br />
         <form class="input-group" ng-submit="addMessage(message)"> <!-- add message box -->
            <input type="text" class="form-control" placeholder="Add a Message" ng-model="message">
            <span class="input-group-btn">
            <button class="btn btn-secondary bg-faded" type="submit">Send Message</button>
                </span>
            </form>


            <ul class="list-group form-control bg-faded msg-update-boxes">
                <b>Messages:</b> <br /> <!-- show posted messages -->
                <li ng-repeat="message in messages | orderBy:'timeStamp':true">
                    <b>{{message.timeStamp}}: {{message.name}} wrote:</b>
                    <p>{{message.text}}</p>
                </li>
              <!--   <p ng-show="!messages.length">No Messages</p> -->
            </ul>
                    </span>
             </div>
         </div>
    </div>
</div>
<br/>
<div class="container">
    <h2>Bands</h2>
    <div ng-repeat="band in yourBands">
        <a ng-href="#!/users/{{band.uid}}/viewBand/{{band.name}}/{{band.ranNum}}">{{band.name}}
        <img class="smallBandPhoto" src="{{band.photo}}">
        </a>
    </div>
<div class="col-md-1">
    <h2> Friends</h2>
    <div ng-repeat="friend in friends">
        <a ng-href="#!/users/{{friend.name}}/{{friend.uid}}/profile"><img src="{{friend.photo}}" class="friendPhoto"><span>{{friend.name}}</span></a>

    </div>

</div>


</div>
