<div class="row">
    <div class="col-md-4 col-md-offset-4">
    </div>
    <div class="col-md-1 text-right">
        <a ng-click="addFriend(uid)"><span  class="biggerPlease addPin glyphicon glyphicon-plus col-md-offset-4" alt="add new board">Add Friend</span></a>
    </div>
</div>
 <div class="col-md-4 friend">
                <div>
                    <a ng-click="removeFriend(uid)">
                        <span class="glyphicon glyphicon-minus">Remove Friend</span>
                    </a>
                </div>
            </div>

<div class="row col-sm-10 col-sm-offset-1 userBoards">
    <div filter: searchText.search" class="col-sm-4 board">
        <h1 ng-model="friendInfo.name">{{name}}'s Profile</h1>
<div class="board-wrapper">
                <div class="row">
                    <div>
                    <img ng-model="friendInfo.photo" class="userPhoto" src="{{photo}}">
                   
                    </div>
                
                </div>
                 <span >Info: {{gigs}}</span><br>
                 <span>Instrument: {{instrument}}</span><br>
                 <span>Style: {{style}}</span>
                     <section><!-- write status updates-->

                <ul class="list-group form-control bg-faded msg-update-boxes">
                <b>Status Updates:</b> <br /> <!-- show posted status updates -->
                <li ng-repeat="update in updates | orderBy:'timestamp':true">
                    <b>{{update.timestamp}}:</b>
                    <a ng-show="myOwnProfile" href="" ng-click="updates.$remove(update)">(remove)</a>
                    <p>{{update.content}}</p>
                </li>
                <!-- <p ng-show="!updates.length">No Recent Updates</p> -->
            </ul>
        <!-- End Status Updates --> 
        <br />
        <form class="input-group" ng-submit="addMessage()"> <!-- add message box -->
                <input type="text" class="form-control" placeholder="Add a Message" ng-model="message">
                <span class="input-group-btn">
                    <button class="btn btn-secondary bg-faded" type="submit">Send Message</button>
                </span>
            </form>

            <br />

            <ul class="list-group form-control bg-faded msg-update-boxes">
                <b>Messages:</b> <br /> <!-- show posted messages -->
                <li ng-repeat="message in messages | orderBy:'timestamp':true">
                    <b>{{message.timestamp}}: {{message.from}} wrote:</b>
                    <a ng-show="myOwnProfile" href="" ng-click="messages.$remove(message)">(remove)</a>
                    <p>{{message.content}}</p>
                </li>
                <p ng-show="!messages.length">No Messages</p>
            </ul>
                </form>
            </section>
             </div>
         </div>
    </div>
</div>
<br/>
<div class="container">
    <h2>Bands</h2>
    <div ng-repeat="band in yourBands">
        <a ng-href="#!/user/viewBand/{{band.name}}/{{band.uid}}">{{band.name}}
        <img class="smallBandPhoto" src="{{band.photo}}">
        </a>
    </div>
<div class="col-md-1">
    <h2> Friends</h2>
    <div ng-repeat="friend in friends">
        <a ng-href="#!/user/{{friend.name}}/{{friend.uid}}/profile"><img src="{{friend.photo}}" class="friendPhoto"><span>{{friend.name}}</span></a>

    </div>

</div>


</div>
